:root{
	--imgSize: 5.5rem;
	--distanceDefault: .5rem;
	--storyColor: #ffd369;
	--iconFontSize: 1.5rem;
	--storyWidth: 500px;
	--overlayZIndex: 2;
	--iconsAbsoluteZIndex: 4;
	--normalZIndex: 3;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@import './IconPaginate.module.scss';
@import './Overlay.module.scss';
@import './StoriesCarousel.module.scss';
@import './StoriesLine.module.scss';
@import './StoryButton.module.scss';
@import './StoryView.module.scss';
